{% extends "groups/group_base.html" %}

{% block sidebar %}
<div class="twocol">
    <h2>Share maps to group</h2>
    <form method="POST" action="">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add maps" />
    </form>
    
    {% if maps_added %}
        <p>
        {% blocktrans with title=object.title %}
        Added map(s) to group {{ title }}:
        {% endblocktrans %}
        <ul>
        {% for map in maps_added %}
        <li> {{ map.title }} </li>
        {% endfor %}
        </ul>
        </p>
    {% endif %}
</div>
{% endblock %}
