{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %} {% trans "File Upload Status"  %} - {{ block.super }} {% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block main %}

<div class="row">
  <div class="span2">
    <a id="set-permissions" class="btn" href="#">{% trans "Set permissions" %}</a>
  </div>
  <div class="span1">
    <a id="delete" class="btn" href="#">{% trans "Delete" %}</a>
  </div>
  <div class="span2 offset3">
    <a class="btn" href="{% url data_upload %}">{% trans "Import New Layer" %}</a>
  </div>
</div>

<div id="application">
  <table id="session-table" class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>NAME/SOURCE FILE</th>
        <th>METADATA</th>
        <th>DATE</th>
        <th>STATUS</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %}


{% block sidebar %}
{% endblock %}

{% block footer-extend %}

{% block require_script %}
<script data-main="{{ STATIC_URL}}js/status/main" src="{{ STATIC_URL}}libs/require-jquery.js"></script>
{% endblock require_script %}


{% endblock %}
