--extra-index-url=http://dist.pinaxproject.com/dev

# Extensions with C components
PIL
lxml

OWSLib==0.4.0
Django==1.4
django-extensions
httplib2
psycopg2
-e git+https://github.com/opengeo/gsconfig.py.git#egg=gsconfig.py
django-registration
django-profiles
geonode-avatar==2.1.1
-e git://github.com/thornomad/django-hitcount.git#egg=django-hitcount
django-staticfiles
-e git+git://github.com/ischneider/dialogos.git@threaded-comments#egg=dialogos
django-mptt
agon-ratings==0.2
South==0.7.3
django-taggit==0.9.3
kaleo
django-user-accounts
django-activity-stream==0.4.4
-e git://github.com/jtauber/django-mailer.git#egg=django-mailer

