--extra-index-url=http://dist.pinaxproject.com/dev

PIL
OWSLib==0.4.0
Django==1.4
django-extensions
httplib2
psycopg2
-e git+https://github.com/opengeo/gsconfig.py.git#egg=gsconfig.py
django-registration
django-profiles
-e git+https://github.com/ericflo/django-avatar.git#egg=avatar
-e git://github.com/thornomad/django-hitcount.git#egg=django-hitcount
django-staticfiles
dialogos==0.1.dev4
agon-ratings==0.2
South==0.7.3
lxml
